//////////////////////////////
// add-this
// @_add-this.scss
//////////////////////////////

.add-this {
  background-color: $gray-lightest;
  border-top: $border-width solid $gray-lighter;
  .content {
    margin: 0 auto;
    text-align: center;
    max-width: 450px;
  }
  a {
    + a {
      margin-left: $space;
    }
  }
  .content {
    padding: $space;
  }
}
