//////////////////////////////
// add-this
// @_add-this.scss
//////////////////////////////

.add-this {
  background-color: $gray-lightest;
  border-top: $border-width solid $gray-lighter;
  @include breakpoint($small-social) {
    .content {
      margin: 0 auto;
      text-align: center;
      max-width: 450px;
    }
  }
  a {
    margin-bottom: $space-one-half;

    @include breakpoint($small-social) {
      margin-bottom: 0;
      + a {
        margin-left: $space;
      }
    }
  }
  .content {
    padding: $space;
  }
}
