//////////////////////////////
// back-link
// @_back-link.scss
//////////////////////////////

.back-link {
  @extend %btn-primary;
  @extend %btn-small;
  padding-left: $space;
  background-size: 30px;
  background-position: 0 center;
  font-weight: $sans-bold;
}
