//////////////////////////////
// button
// @_button.scss
//////////////////////////////

button,
.button,
a.button,
a.button:link,
a.button:visited,
%button,
input[type='submit'] {
  @include font-size(1.4);
  font-family: $sans;
  font-weight: $sans-bold;
  padding: $space-one-half $space;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  -webkit-appearance: none;
  transition: all 0.1s;

  @include breakpoint($large) {
    @include font-size(1.5);
  }
  &.more-link {
    font-weight: $sans-bolder;
    text-align: center;
  }
}

input[type='submit'],
a.btn-primary,
a.btn-primary:link,
a.btn-primary:visited,
a.btn-blue,
.btn-primary,
.btn-primary:link,
.btn-primary:visited,
.btn-blue,
%btn-blue {
  @include button($blue);
  color: $black;
}

a.btn-secondary,
a.btn-psecondary:link,
a.btn-secondary:visited,
a.btn-yellow,
.btn-secondary,
.btn-secondary:link,
.btn-secondary:visited,
.btn-secondary,
.btn-yellow,
%btn-yellow {
  @include button($yellow);
  color: $black;
}

.btn-tertiary,
.btn-white,
%btn-white {
  @include button($white);
}

.btn-quaternary,
.btn-black,
%btn-black {
  @include button($black);
}

a.button.btn-small,
a.button.btn-small:link,
a.button.btn-small:visited,
a.btn-small,
.btn-small,
%btn-small {
  @include font-size(1.2);

  padding: $space-one-third $space-one-half;

  @include breakpoint($large) {
    @include font-size(1.4);
  }
}

a.button.btn-x-small,
a.button.btn-x-small:link,
a.button.btn-x-small:visited,
a.btn-x-small,
.btn-x-small,
%btn-x-small {
  @include font-size(1.2);

  padding: $space-one-third;

  @include breakpoint($large) {
    @include font-size(1.2);
  }
}
