//////////////////////////////
// footer
// @_footer.scss
//////////////////////////////

footer {
  &.site-footer {
    padding:$space-double $space;
    color: $white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2dc0ed+0,83d328+50,d2f77b+100 */
    background: #2DC0ED; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #0D83A9 0%, #38C2EE 50%, #0A6684 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #0D83A9 0%, #38C2EE 50%, #0A6684 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0D83A9 0%, #38C2EE 50%, #0A6684 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .logo {
    @include breakpoint($large) {
      margin-left: -80px;
    }
  }
  .site-slogan {
    @include breakpoint($medium) {
      margin-right: $space-one-half;
    }
  }
  .site-info {
    @include font-size(1.4);
    margin-top: $space;
    text-align: center;

    @include breakpoint($small-medium) {
      text-align: right;
    }
    p + p {
      margin: $space-one-third 0 0;
    }
  }
  a,
  a:link {
    color: $blue-lightest;

    &:visited {
      color: $blue-lightest;

      &:hover {
        color: $blue-lighter;
      }
    }
    &:hover {
      color: $blue-lighter;
    }
  }
}
