//////////////////////////////
// footer
// @_footer.scss
//////////////////////////////

footer {
  &.site-footer {
    padding:$space-double $space;
    background-color: $black;
    color: $white;
  }

  .logo {
    @include breakpoint($large) {
      margin-left: -80px;
    }
  }
  .site-slogan {
    @include breakpoint($medium) {
      margin-right: $space-one-half;
    }
  }
  .site-info {
    @include font-size(1.4);
    margin-top: $space;
    text-align: center;

    @include breakpoint($small-medium) {
      text-align: right;
    }
    p + p {
      margin: $space-one-third 0 0;
    }
  }
}
