//////////////////////////////
// frontpage
// @_frontpage.scss
//////////////////////////////

.front {
  section {
    @include clearfix();
    clear: both;
  }
  .section-content {
    max-width: $max-width;
    h2 {
      @include font-size(2.8);
      color: $white;

      @include breakpoint($large) {
        @include font-size(4);
      }
    }
  }
  // top splash
  .top {
    position: relative;

    figure {
      z-index: 0;
    }
    .section-content {
      margin: 0 auto;
      position: absolute;
      top:55%;
      left:0;
      right:0;
      text-align: center;
      background-color: rgba($gray-dark, .95);
      padding: $space $space-one-half;
      color: $white;
      border-bottom: $border-width solid $blue-light;
      h1 {
        color: $white;
      }
    }
  }

  // common section padding
  .about,
  .gallery,
  .clients,
  .app,
  .blog,
  .contact {
    padding: $space 0;

    @include breakpoint($large) {
      padding: $space-quintuple 0;
    }
  }
  // about
  .about {
    background-color: $gray-dark;
    .section-content {
      color: $gray-lightest;

      @include breakpoint($large) {
        margin-top: $space;
      }
    }
  }
  // gallery
  .gallery {
    background-color: $black;
  }
  // clients
  .clients {
    background-color: $gray-lightest;
    h2 {
      color: $black;
    }
    figure {
      .file {
        padding: $space-one-half;
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }

  // app
  .app {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#050c35+0,1482e9+50,ec9bf6+100 */
    background: #050C35; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #050C35 0%, #1482E9 50%, #EC9BF6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #050C35 0%,#1482E9 50%,#EC9BF6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #050C35 0%,#1482E9 50%,#EC9BF6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    .section-content {
      max-width: 100%;
      color: $white;
      @include breakpoint($large) {
        margin-top: $space;
      }
    }
    .buttons {
      margin-top: $space;

      @include breakpoint($small-medium) {
        text-align: center;
        p {
          display: inline-block;
        }
      }

    }
    blockquote {
      color: $gray-lightest;
    }
    cite {
      @include font-size(1.5);
    }
    a.apple,
    a.googleplay {
      @extend %button;
      @extend %btn-tertiary;
      display: block;
      background-position: $space center;
      padding-left: $space-double;
      @include breakpoint($small-medium) {
        display: inline-block;
      }
    }
    @include breakpoint($small-medium) {
      a.googleplay {
        margin-left: $space;
      }
    }
  }
  // blog
  .blog {
    background-color: $black;
    .views-row {
      padding: $space;
    }
    .teaser {
      color: $white;
    }
    .field-name-body {
      margin-top: $space-one-half;
    }
    .field-name-field-pb-featured-image {
      img {
        width: 100%;
      }
    }
    .byline {
      margin-top: $space-one-half;
      padding-top: $space-one-half;
      border-top: $border-width solid $yellow;
      p.submitted {
        @include font-size(1.4);
      }
    }
  }
  // contact
  .contact {
    background-color: $gray-dark;
    .section-content {
      max-width: 100%;
    }
    h2 {
      text-align: center;
    }
    .webform-client-form {
      margin: 0 auto;
    }
  }

}
