//////////////////////////////
// frontpage
// @_frontpage.scss
//////////////////////////////

.front {
  section {
    @include clearfix();
    clear: both;
  }
  .section-content {
    max-width: $max-width;
    h2 {
      color: $white;

    }
  }
  // top splash
  .top {
    position: relative;

    figure {
      z-index: 0;
    }
    .section-content {
      margin: 0 auto;
      position: absolute;
      top:55%;
      left:0;
      right:0;
      text-align: center;
      background-color: rgba($gray-dark, .9);
      padding: $space $space-one-half;
      color: $white;
      border-bottom: $border-width solid $blue-light;
      h1 {
        color: $white;
      }
    }
  }

  // common section padding
  .about,
  .gallery,
  .clients,
  .app,
  .blog,
  .contact {
    padding: $space 0;
    @include breakpoint($large) {
      padding: $space-quintuple 0;
    }
  }
  // about
  .about {
    background-color: $gray-dark;
    .section-content {
      color: $gray-lightest;

      @include breakpoint($large) {
        margin-top: $space;
      }
    }
  }
  // gallery
  .gallery {
    background-color: $black;
  }
  // clients
  .clients {
    background-color: $gray-lightest;
    h2 {
      color: $black;
    }
    figure {
      .file {
        padding: $space-one-half;
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }

  // app
  .app {
    background-color: $blue;
    h2 {
      color: $black;
    }
    a.appstore,
    a.googleplay {
      @extend %button;
      @extend %btn-quaternary;
      display: inline-block;
    }
  }
  // blog
  .blog {
    background-color: $black;
    .views-row {
      padding: $space;
    }
    .teaser {
      color: $white;
    }
    .field-name-body {
      margin-top: $space-one-half;
    }
    .field-name-field-pb-featured-image {
      img {
        width: 100%;
      }
    }
    .byline {
      margin-top: $space-one-half;
      padding-top: $space-one-half;
      border-top: $border-width solid $yellow;
      p.submitted {
        @include font-size(1.4);
      }
    }
  }
  // contact
  .contact {
    background-color: $gray-dark;

    .webform-client-form {
      margin: 0 auto;
    }
  }

}
