//////////////////////////////
// header
// @_header.scss
//////////////////////////////

header {

  .front & {
    &.site-header {
      @include breakpoint($large) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: $space-one-fourth;
        z-index: 1;
        background-color: rgba($black, .9);
      }
    }
  }
}
