//////////////////////////////
// logo
// @_logo.scss
//////////////////////////////

.logo {
  .front & {
  max-width:100px;
    @include breakpoint($large) {
      max-width:300px;
      min-width: 50px;
    }
    @-moz-document url-prefix() {
      width: 100px;
      @include breakpoint($large) {
        width:250px;
      }
    }
  }
  .not-front & {
    max-width:300px;

    @include breakpoint($large) {
      max-width:500px;
      min-width: 50px;
    }
    @-moz-document url-prefix() {
      width: 300px;
      @include breakpoint($large) {
        width:400px;
      }
    }
  }

  .logo {
    margin: 0;
    padding: 0;
    text-indent: -1000px;
    overflow: hidden;
    height: 0;

    background: {
      size: contain;
      position: center center;
      repeat: no-repeat;
    }

    &.lb {
      background-image: url('../img/logos/lb-white.svg');
      padding-bottom: (100/300) * 100%; // Intrinsic ratio
    }
    &.lb-small {
      background-position: left center;
      background-image: url('../img/logos/lb-small.svg');
      padding-bottom: (100/100) * 100%; // Intrinsic ratio
    }
  }
}
