//////////////////////////////
// more-link
// @_more-link.scss
//////////////////////////////

.more-link {
  a,
  a:link {
    @extend %btn-blue;
    @extend %btn-small;
    margin: 0 auto;
    display: block;
    background-size: 30px;
    background-position: 0 center;
    font-weight: $sans-bold;
    max-width: $max-width;
    text-transform: uppercase;
  }
}
