//////////////////////////////
// more-link
// @_more-link.scss
//////////////////////////////

.more-link {
  a,
  a:link,
  a:visited {
    @extend %button;
    @extend %btn-primary;
    @extend %btn-small;
    margin: 0 auto;
    font-weight: $sans-bold;
    max-width: $max-width;
    text-transform: uppercase;

    .view & {
      display: block;
    }
  }
}
