//////////////////////////////
// node-top
// @_node-top.scss
//////////////////////////////

.node-top {
  position: relative;

  h1 {
    @include font-size(2.8);
    display: inline-block;
    padding: $space;
    color: $black;
    text-align: center;
    background-color: $yellow;
    
    @include breakpoint($medium) {
      background-color: rgba($yellow, .8);
    }
    @include breakpoint($medium) {
      @include font-size(3);
      margin: 0 auto;
      position: absolute;
      bottom: 20%;
      left: 0;
      right: 0;
      max-width: $max-width;
    }
    @include breakpoint($large) {
      @include font-size(3.8);
    }
  }
}
