/**
 * @file _radio.scss
 * Styles for input[type="radio"]
 * Note that these styles don't work in IE8, so the :not(#foo) selector string
 * (which IE8 also doesn't support) keeps these rules from applying to that
 * browser
 */

input[type="radio"] {

  // custom styling fpr radio inputs using SVG background-images
  div:not(#foo) & {
    display: inline-block;
    margin:0;
    float: left;
    padding:$space-one-fourth;
    opacity: 0;
    width: 1px;
    vertical-align: middle;

    &.required {
      border-color: $red;
    }

    & + label {
      display: inline-block;
      margin: 0 $space-one-half $space-one-half 0;
      clear: none;
      padding:0 0 0 $space;
      background-size: 20px;
      background-position: left center;
      cursor: pointer;

      &.required {
        border-color: $red;
        color: $red;
      }
    }

    &:checked + label {
      /* Make them look clickable because they are */
      cursor: pointer;
      color: $black;
      font-weight: 700;
    }
  }
}
