//////////////////////////////
// Mixins
// @_mixins.scss
//////////////////////////////

//////////////////////////////
// Button Component Mixins
//////////////////////////////

@mixin button($color) {
  //defaults:
  cursor: pointer;
  border: $border-width solid $color;
  color: $color;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  z-index: 0;

  &:after {
    position: absolute;
    transition: .3s;
    background-color: rgba($color, .9);
    content: "";
    width: 0;
    height: 120%;
    left: -10%;
    bottom: 0;
    transform: skewX(15deg);
    z-index: -1;
  }

  &:active,
  &:focus,
  &:hover {
    color: $black;
    overflow: hidden;

    &:after {
      width: 120%;
      left: -10%;
    }
  }
  &:visited {
    color: $color;

    &:hover {
      color: $black;
      overflow: hidden;

      &:after {
        width: 120%;
        left: -10%;
      }
    }
  }
}

//////////////////////////////
// Rem font-size Mixins
//////////////////////////////
// Adds px value for fallback - then rem value
// use example =   @include font-size(1.6); = 1.6rem / 16px

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

//////////////////////////////
// Intrinsic Ratio
//////////////////////////////

@mixin intrinsic-ratio($ratio: 1 1, $selector: "> :first-child") {
	$selector: unquote($selector);

	padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
	position: relative;

	#{$selector} {
		left: 0;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
