//////////////////////////////
// frontpage
// @_frontpage.scss
//////////////////////////////

.front {
  section {
    @include clearfix();
  }
  // about
  .about {
    figure {
      @include grid-span(8,1);
    }
    .section-content {
      @include grid-span(8,9);
      max-width: $max-width;
    }
  }
  // blog
  .blog {
    .views-row {
      @include breakpoint($medium) {
        @include layout(2) {
          @include grid-span(1,1, $output-style: "float", $gutter:0);
        }
        &.views-row-3 {
          clear: left;
        }
        padding: $space;
      }
    }
    .more-link {
      clear: both;
      text-align: center;
    }
  }

  // gallery
  .gallery {
    figure {
      @include layout(2) {
        @include grid-span(1,1, $output-style: "float", $gutter:0);
        img {
          width: 100%;
        }
      }
      @include breakpoint($large) {
        @include layout(3) {
          @include grid-span(1,1, $output-style: "float", $gutter:0);
        }
      }
    }
  }

}
