//////////////////////////////
// frontpage
// @_frontpage.scss
//////////////////////////////

.front {
  section {
    @include clearfix();
  }
  // about
  .about {
    figure {
      @include grid-span(8,1);
    }
    .section-content {
      @include grid-span(8,9);
      max-width: $max-width;
    }
  }
  // clients
  .clients {
    .container {
      @include flexbox();
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(center);
      @include align-content(flex-start);
    }
    .section-content {
      @include flexbox();
      @include flex(1 0 100%);
      max-width: 100%;
    }
    figure {
      @include flexbox();
      @include flex(1 0 50%);

      @include breakpoint($small-medium) {
        @include flex(1 0 33.33%);
      }
      @include breakpoint($large) {
        @include flex(1 0 25%);
      }
    }
  }
  // blog
  .blog {
    .views-row {
      @include breakpoint($medium) {
        @include layout(2) {
          @include grid-span(1,1, $output-style: "float", $gutter:0);
        }
        &.views-row-3 {
          clear: left;
        }
      }
    }
    .more-link {
      clear: both;
      text-align: center;
    }
  }

  // gallery
  .gallery {
    figure {
      img {
        width: 100%;
      }
      @include breakpoint($small) {
        @include layout(2) {
          @include grid-span(1,1, $output-style: "float", $gutter:0);
        }
      }
      @include breakpoint($small-medium) {
        @include layout(3) {
          @include grid-span(1,1, $output-style: "float", $gutter:0);
        }
      }
    }
  }
  // app
  .app {
    @include breakpoint($small-medium) {
      figure {
        @include grid-span(6,11);
      }
      .section-content {
        @include grid-span(10,1);
        max-width: $max-width;
      }
    }
  }

}
