//////////////////////////////
// header
// @_header.scss
//////////////////////////////

header {
  padding-top: $space;

  .container {
    @include clearfix();

    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(stretch);
    @include align-content(flex-start);

    @include breakpoint($small-medium) {
      @include flex-direction(row);
      @include align-items(center);
    }
    @include breakpoint($large) {
      @include justify-content(space-between);
    }
  }
  .logo {
    @include flexbox();
    @include flex(1 0 auto);

    @include breakpoint($small-medium) {
      margin-right: $space;
    }
  }
  a.logo {
    @include flex(0 1 100%);
    order: 1;
    align-self: center;

  }
  .main-menu {
    @include flexbox();
    @include flex(0 1 60%);
    order: 2;
    margin-top: $space-one-half;
    .content {
      width: 100%;
    }
    @include breakpoint($small-medium) {
      @include flex(1 0 auto);
      margin-top: 0;
    }
  }
}

.not-front {
  header {
    a.logo {
      @include flex(0 1 300px);
      order: 1;
      align-self: center;
      padding-right: 10px;

      @include breakpoint($small-medium) {
        @include flex(1 0 auto);
      }
    }
    a.back-link {
      @include flex(0 1 auto);
    }
  }
}
