//////////////////////////////
// view-id-blog
// @_view-id-blog.scss
//////////////////////////////

.view-id-blog,
.view-id-photo_booth,
.view-id-lightbomber {
  &.view-display-id-page_with_page_title_1 {
    @extend %container;
    margin-top: $space-one-half;
  }
  figure img {
    width: 100%;
  }
  img {
    transition: all .3s;
  }
  img:hover {
    filter: saturate(180%);
  }
  .byline {
    margin-top: $space-one-half;
    padding-top: $space-one-half;
    border-top: $border-width solid $yellow;
    p.submitted {
      @include font-size(1.4);
    }
  }
  .views-row {
    margin-top: $space;

    @include breakpoint($small-medium) {
      @include layout(2) {
        @include grid-span(1,1, $output-style:"float", $gutter:0);
        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }
  }
  .pager {
    clear: both;
  }
}
